@media (max-width: 1400px){
    .banner{
        .left{
            display: none;
        }

        .background{
            .bottom_bg{
                height: 1450px;
            }
        }
    }   
}

@media (max-width: 992px){
    .banner{
        .background{

            .bottom_bg{
                height: 2200px;
            }
            .right{
                width: 100%;
            }

                .vector{
    
                    &::before{
                        content: "системний адміністратор правових рішень";
                        position: absolute;
                        display: none;
                    }
            }
        }
    }   
}


@media (max-width: 767px){
    .banner{

        .vector{

            &::before{
                width: 0;
            }
        }

        .frame{
            display: none;
        }  

        h3{
            margin-bottom: 30px;
        }

        .right{
            width: 100%;
            &::before{
                content: "ПОСЛІДОВНІ";
                font-weight: 700;
                color: #F0145A;
                font-size: 18px;
                margin-bottom: 20px;
            }
        }

        .background{
            .bottom_bg{
                height: 2400px;
            }
        }
    }
}

@media (max-width: 576px){
    .banner{
        .background{
            .bottom_bg{
                height: 2600px;
            }
        }
    }
}

@media (max-width: 425px){
    .banner{
        .background{
            .bottom_bg{
                height: 2800px;
            }
        }
    }
}

@media (max-width: 375px){
    .banner{
        .background{
            .bottom_bg{
                height: 3010px;
            }
        }
    }
}

@media (max-width: 325px){
    .banner{
        .background{
            .bottom_bg{
                height: 3200px;
            }
        }
    }
}



